<fieldset>
  <legend>Edit an Tweet</legend>
  <form method="POST" action="/tweets/<%= tweet.id%>?_method=PUT">
    <div class="form-group col-md-4">
      <input name="tweet[name]" class="form-control" placeholder="Name" value="<%= tweet.name %>"/>
    </div>
    <div class="form-group col-md-4">
      <input name="tweet[tweet]"  class="form-control" placeholder="Tweets" value="<%= tweet.tweet %>"/>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-success col-md-12">Edit a Tweet</button>
    </div>
  </form>
</fieldset>