<fieldset>
  <legend>Add an Tweet</legend>
  <form method="POST" action="/tweets">
    <div class="form-group col-md-4">
      <input name="tweets[name]" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group col-md-4">
      <input name="tweets[tweet]"  class="form-control" placeholder="Tweets"/>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-success col-md-12">Add a Tweet</button>
    </div>
  </form>
</fieldset>

<ul>
<% tweets.forEach( function(tweet){ %>
  <li><h2><%= tweet.name %></h2></li>
  <li><b>Tweet :  </b> <%= tweet.tweet %><br></li><br>
  <a href="/tweets/<%= tweet.id%>/edit" class="btn btn-warning">Edit</a><br><br>
  <form method="POST" action="/tweets/<%= tweet.id%>/delete"><button class="btn btn-danger">Delete</button><br></form>
<% }) %>
</ul>
